body{
	text-align: center;
	font-size: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #FFFFFF;
	color: #000000;
	padding:1%
}
.button {
	font: bold 15px Arial;
	text-decoration: none;
	background-color: #a1cb00;
	color: ##ffffff;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
.cover {
	object-fit: cover;
	width: 95%;
	height: 100%;
}
#g1 {
	width: 400px;
	height: 320px;
	display: inline-block;
	margin: 1em;
 }
