body{
	text-align: center;
	font-size: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #FFFFFF;
	color: #000000;
	padding:1%
}
.button {
	font: bold 20px 'Open Sans Condensed';
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	background-color: #a1cb00;
	color: #000000;
	border-color: #a1cb00;
	border-width: 0.3rem;
	border-radius: 5px;
	border-style: solid;
	width: 10%;
}
.cover {
	object-fit: cover;
	width: 95%;
	height: 100%;
}
#g1 {
	width: 400px;
	height: 320px;
	display: inline-block;
	margin: 1em;
 }
